%html
  %body
    .head
    .contents
      .contents__left
        .contents__left__top
          .contents__left__top__box
            %p.contents__left__top__box__username
              = current_user.name
            .contents__left__top__box__icons
              =link_to new_group_path , class: "contents__left__top__box__icons__icon" do
                =fa_icon"edit"
              =link_to edit_user_path(current_user), class: "contents__left__top__box__icons__icon" do
                =fa_icon"cog"  
   
        .contents__left__body
          -current_user.groups.each do |group|
            .contents__left__body__groups
              = link_to group_messages_path(group) do
                %p.contents__left__body__groups__name
                  = group.name
                %p.contents__left__body__groups__message
                  = group.show_last_message
  
      .contents__right
        .contents__right__top
          .contents__right__top__box 
            %p.contents__right__top__box__group-name
              = @group.name
            .contents__right__top__box__men-box
              %p チャットメンバー：
              %ul.contents__right__top__box__men-box__menber-name
                -@group.users.each do |user|
                  =user.name

          = link_to "edit", class: "contents__right__top__edit-btn" do
            %p.contents__right__top__edit-btn__icon Edit

        .contents__right__body
          =render @messages

        .contents__right__footer
          =form_for [@group, @message] do |f|
            .contents__right__footer__textbox
              =f.text_field :content, class: 'contents__right__footer__textbox__form', placeholder: 'type a message' 
              =f.label :image, for: "contents__right__footer__textbox__image", class: 'contents__right__footer__textbox__image' do
                =fa_icon 'picture-o'
                =f.file_field :image, style: "display:none;",id: "contents__right__footer__textbox__image"
              =f.submit 'send', class: 'contents__right__footer__textbox__btn'